name: SonarCloud analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Required for SonarCloud to analyze the whole repo
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
            args: >
              -Dsonar.projectKey=MechanicsDSL_mechanicsdsl
              -Dsonar.organization=mechanicsdsl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}   # The secret you just added
